@model WrenchWorks.Models.Vehicle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyColorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyColorNavigation.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinNavigation.Vin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Vin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
